* {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: black;
  height: 100vh;
  display: flex;
}

.container {
  background-color: #1f2937;
  color: white;
  width: 54vw;
  margin: auto;
  padding: 3.125em;
  min-width: 410px;
}

.title {
  font-size: 2.5rem;
  margin-bottom: 0.25em;
}

.highlight {
  color: #10b981;
  display: block;
  margin-bottom: 0px;
  font-size: 2.5rem;
}

.description {
  font-size: 1.25rem;
  font-family: "Inter", sans-serif;
  margin: 0;
}

.btn-generate-password {
  margin-top: 3.125em;
  background-color: #10b981;
  color: white;
  border-radius: 6px;
  box-shadow: 0 1px 2px #0000000d;
  border: none;
  padding: 0.625em 1em;
  font-size: 1em;
  margin-bottom: 2.1875em;
}

.btn-generate-password:hover {
  background-color: #0c6016;
  color: #b4ce1f;
}

hr {
  border: 1px solid #2f3e53;
}

.pass-container {
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 2.1875em;
}

.password {
  background-color: #273549;
  color: #55f991;
  height: 2.5em;
  min-width: 40%;
  line-height: 1;
  padding: 0.6em;
  cursor: pointer;
}

.customization {
  background-color: #273549;
  margin-top: 3.125em;
  padding: 0.625em;
}

.slider {
  width: 90%;
}
.checkbox {
  display: inline-block;
}
label {
  display: block;
}
.checkbox-container {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .checkbox-container {
    flex-direction: row;
  }
}
