body{
    margin:0 auto;
    font-family: "Smythe", serif;
    width:600px;
    box-sizing: border-box;
}

/* image */
.banner{
    width:100%;
}

/* icon,button */

.item-icon{
    font-size:78px;
    line-height: 98px;
    opacity:72%;
    margin:0;
    
}


/* item card */
.container{
    display:flex;
    gap:30px;
    align-items: center;
}
.item-details{
    width:350px;
    
}

.item-name{
    font-size:28px;
    line-height: 16.8px;
}

.item-description{
    color:#8B8B8B;
}

.item-price{
    font-size:20px;
}

.add-button{
    border:1.5px solid #DEDEDE;
    background-color: white;
    font-weight: 200;  
    height:50px;
    width:50px;
    border-radius: 50%;  
    margin:0;
    font-size: 32px;
    font-family: "Inter", serif;
    line-height: 35px;
    padding-bottom:4px;
} 

.add-button:hover{
    background-color: #16DB99;
    border:none;
    color:white;
}


/* layout */
.container-wrapper{
    width:550px;
    margin:0 auto;
    border-bottom: 1px solid #D2D2D2;
    padding-top:50px;
    padding-bottom:50px;  
}

/* order */
.order-title{
    font-size: 28px;
    text-align: center;
    margin:0;
    margin-bottom:64px;
}
.order-details{
    border-bottom:2px solid #393333;
}
.order-line{
    display:flex;
    justify-content: space-between;
}

.name-container{
    display:flex;
    gap:10px;
}

.order-summary{
    width:550px;
    margin:0 auto;
    padding:30px 0;
}
.remove-btn{
    margin:auto;
    background-color: white;
    border:none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    color:#BBBBBB;
    font-weight: 400;
}
.complete-order-btn{
    width:100%;
    background-color: #16DB99;
    box-shadow: 0 1px 2px #0000000D;
    border:none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:16px;
    font-weight: 700;
    color:#FFFFFF;
    padding:18px 0;
    margin:50px auto;
}

/* modal */
.modal-container{
    width:524px;
    height:542px;
    border:1.3 solid #757575;
    border-radius:4px;
    box-shadow:5px 5px 255px #00000080;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
    background-color: white;
    
}
.modal-inner-container{
    width:475px;
    margin:0 auto;
    
}
.modal-heading{
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    margin:46px auto;
    text-align: center;
}
.modal-input{
    display:block;
    width:100%;
    border:1.3px solid #757575;
    border-radius:4px;
    padding:28px 0 28px 25px;
    font-size:20px;
    box-sizing: border-box;
    margin-bottom:23px;

}
.modal-pay-btn{
    width:100%;
    background-color: #16DB99;
    border:none;
    color:white;
    font-size: 20px;
    padding:16px;
    font-weight:700;
    border-radius:4px;
    margin-top:23px;
}
/* message */
.message-container{
    background-color: #ECFDF5;
    padding:50px 0;
    width:100%;
    border-radius:3px;
    text-align: center;
    font-size:30px ;
    color:#065F46;
    height:120px;
}
/* utilities */
.hidden{
    display: none;
}