body{
    margin-top:150px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    color: var(--COEmY);
}
.logo{
    display:block;
    width:500px;
    line-height: 200px;
    margin:0 auto;
}
input{
    display:block;
    margin:0 auto;
    width:584px;
    min-height: 44px;
    border-radius: 24px;
    border:1px solid #dfe1e5;
    background-color:#fff;
}

.btn-wrapper{
    display:flex;
    justify-content: center;
}
.btn{
    margin:11px 4px;
    padding:0 16px;
    line-height: 27px;
    height:36px;
    border-radius: 4px;
    border:1px solid #f8f9fa;
    background-color: #f8f9fa;
    color:#3c4043;
    text-align: center;
    cursor:pointer;
}

