body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", serif;
}
/* typography and icons */
h1 {
    color: #0f8cdf;
    margin-bottom: 40px;
    font-size: 20px;
  }


/* layout */
main,
header {
  width: 500px;
  margin: 0 auto;
}
/* textareas + btn */
.tweet-input-area {
    width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom:40px;
  }
  
  .tweet-input {
    border: none;
    resize: none;
    width: 100%;
    height: 60px;
    font-size: 20px;
    line-height: 60px;
  }
  
  .tweet-btn {
    font-size: 20px;
    color: white;
    font-weight: 700;
    width: 100%;
    border-radius: 20px;
    padding: 10px 0;
    border:none;
    background-color: #0f8cdf;
    
  }
  
/* tweet */
.tweet-container{
    display:flex;
    gap:10px;
    align-items: start;
    margin-top:20px;
    /* margin-bottom:20px; no padding bottom, height of container is collapsed*/ 
    border-top:1px solid grey;
    padding-top:20px;
    width:100%;
}
.handler{
    margin-top:0;
    font-size:12px;
    font-weight:500;
    color:#555;
}
.tweet-text{
    width:100%;
    font-size:14px;
    line-height: 20px;

}
.icon-group{
    display:flex;
    font-size:13px;
    justify-content: space-between;
    width:160px;
}
.icon{
    display:flex;
    gap:4px;
}
/* images */
.profile-pic {
    width: 60px;
    border-radius: 50%;
  }
  



